body {
    margin : 0;
    padding : 1px;
    background-color : #ffffff;
    color : #000000;
    display: block;
    }

.first {
    border-collapse: collapse;
    border: 1px solid black;
    }
/* .block{
    display: none;
} */
.second{
    border-collapse: collapse;
    border: 1px dashed black;
    /* margin-bottom: 10px; */
}
.cfup {
    color : #2A52BD;
    background-color : #c7c7f2;
 }
 .cflow {
    color : #A40001;
    background-color : #f2c7c7;
 }
 .cfnorm {
    color : #606060;
    background-color : #f2f2f2;
 }
 
.legend {
    font-size: 0.75em;
}
#bold {
    font: bold 1em Times;
}
tr {
    padding: 2px;
  }
  
td {
    border-collapse: collapse;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
}
th {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    padding: 2px;

}
#thside {
    color: blue;
    font-family: Garamound;
}

.threg {
    color: red;
    font-family: Garamound;
}

button {
    margin: 6px;
}
.legend {
    font-size: 0.85em;
    background-color : rgba(255,255,224,0.6);
}
.legend_show {
    position: fixed;
    top:40px;
    left:10px;
}