<button id="legend_btn"> Legend show </button> 
<button id="btn">Save scorecard to image(PNG)</button>
<div class="legend_show" style="display:none" >
  <table class="second block" cellpadding="0.2">
<!-- <input type="button" onclick="message()" value="圖例" style="margin: 6px;"> -->
  <!-- <table class="second block" cellpadding="0.2"> -->
  <tr>
      <th colspan=2>EMC Verification Scorecard</th>
  </tr>
  <tr>
      <th colspan=2>Symbol Legend</th>
  </tr>
  <tr class="legend">
    <th class="cfup">&#9650;</th>
    <td>{{data.model2}} is better than {{data.model1}}at the 99.9% significance level</td>
  </tr>
  <tr class="legend">
    <th class="cfup">&#9651;</th>
    <td>{{data.model2}} is better than {{data.model1}} at the 99% significance level</td>
  </tr>
  <tr class="legend">
    <th class="cfup">&#9653;</th>
    <td>{{data.model2}} is better than {{data.model1}} at the 95% significance level</td>
  </tr>
  <tr class="legend">
    <th class="cfnorm">&#9900;</th>
    <td>No statistically significant difference between {{data.model2}} and {{data.model1}}</td>
  </tr>
  <tr class="legend">
    <th class="cflow">&#9663;</th>
    <td>{{data.model2}} is worse than {{data.model1}} at the 95% significance level</td>
  </tr>
  <tr class="legend">
    <th class="cflow">&#9661;</th>
    <td>{{data.model2}}is worse than {{data.model1}} at the 99% significance level</td>
  </tr>
  <tr class="legend">

    <th class="cflow">&#9660;</th>
    <td>{{data.model2}} is worse than {{data.model1}} at the 99.9% significance level
  </tr>
  <tr class="legend">
    <td style="background:#FFFFFF"></td>
    <td>Not statistically relevant</td>
  </tr>
  <tr>
    <th colspan=2>Start Date: {{data.start_time}} </th>
  </tr>
  <tr>
    <th colspan=2>End Date: {{ data.end_time }} </th>
  </tr>
  </table>
</div>