<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link type="text/css" rel="stylesheet" href="css/scorecard.css"/> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/legend.css') }}">

  <!-- <script type="text/javascript" src="jquery-3.5.1.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dom-to-image.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
  <!-- <script type="text/javascript" src="main.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<body>
    {% include 'legend.html' %}
    {% include 'scorecard.html' %}
</body>
</html>